* {
  margin: 0;
  padding: 0;
}

.ant-card-cover {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  
}

.ant-card-cover img{
  object-fit: cover;
  border-radius: 8px!important;
  width: 200px!important;
}
.ant-pagination{
  justify-content: center!important;
  margin-top: 30px!important;
}